<div class="widget box-shadow" ng-controller="WatchlistController">
    <div class="head">
        Add New Stock
        <i class="ion-android-cancel" ng-click="$back()"></i>
    </div>
    
    <form name="listForm">
        <table class="full-width no-bottom-border">
            <tbody>
                <tr>
                    <td><b>Stock Symbol</b></td>
                    <td>
                        <input type="text"
                               name="symbol"
                               class="full-width"
                               placeholder="For example: YHOO"
                               maxlength="25"
                               ng-model="stock.symbol"
                               list="companies"
                               autocomplete="off"
                               required>
                        <datalist id="companies">
                            <option ng-repeat="company in companies" value="{{ company.symbol }}">{{ company.label }}</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><b>Shares Owned</b></td>
                    <td>
                        <input type="number"
                               name="shares"
                               class="full-width"
                               placeholder="# Count of Shares Owned"
                               maxlength="40"
                               autocomplete="off"
                               ng-model="stock.shares"
                               required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="txt-right">
                        <button type="submit" class="btn btn-green" ng-disabled="listForm.$invalid" ng-click="addStock()">Add</button>
                        <button type="button" class="btn btn-red" ng-click="$back()">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
