<div class="widget box-shadow">
    <div class="head">Portfolio Overview</div>
    <div class="row">
        <!--<div class="col m12 l6 tile">
            <span class="infoTile">$3234</span>
        </div>
        <div class="col m12 l6 tile">
            <span class="infoTile">$3234</span>
        </div>-->
        <div class="col m12 l6 chartContainer">
            <canvas id="myChart1" class="chart"></canvas>
        </div>
        <div class="col m12 l6 chartContainer">
            <canvas id="myChart2" class="chart"></canvas>
        </div>
    </div>
</div>
            